$transitionDelay:0.6s
$opacityDelay:0.5s
body
  min-height: 100vh
.container
  display: flex
  flex-direction: column
  min-height: inherit
.content
  padding: 1% 0
  flex-grow: 1
.v-modal
  &.open
    .modal-wrapper
      opacity: 1
      z-index: 200
    .modal-window
      transform: translateY(1%)
.modal-wrapper
  position: fixed
  z-index: -1
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgb(0,0,0,0.5)
  opacity: 0
  display: flex
  justify-content: center
  align-items: center
  transition: opacity $opacityDelay z-index $opacityDelay
  .modal-window
    width: 30vw
    outline: 1px solid grey
    background: #fff
    border-radius: 4px
    transform: translateY(-1000px)
    transition: transform $transitionDelay ease-in
    .modal-header
      display: flex
      justify-content: space-between
      padding: 1%
      .modal-title
        font-size: 2em
      .modal-close
        cursor: pointer
    .modal-content
      padding: 1%
    .modal-footer
      display: flex
      flex-direction: row
      justify-content: flex-end
      .btn
        margin: 1%
.card-img-top
  height: 300px !important

